<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Equipe</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1 th:text="${team.id} != null ? 'Editar Equipe' : 'Nova Equipe'"></h1>
    <form th:action="${team.id} != null ? @{'/team/' + ${team.id}} : @{/team}" method="post" th:object="${team}">
        <label for="name">Nome da equipe:
            <input type="text" id="name" name="name" th:field="*{name}" required />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </label>
        <label for="description">Descrição:
            <input type="text" id="description" name="description" th:field="*{description}" required />
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </label>
        <label for="members">Membros:
            <select id="members" multiple size="8" th:field="*{members}">
                <option th:each="u : ${users}"
                        th:value="${u.id}"
                        th:text="${u.name}">
                </option>
            </select>
            <span th:if="${#fields.hasErrors('members')}" th:errors="*{members}"></span>
        </label>
        <div>
            <button type="submit">Salvar</button>
            <a th:href="@{/team}">Voltar</a>
        </div>
    </form>
</body>
</html>
